* {
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden;
  overflow-y: auto;
  font-family: Arial, sans-serif;
  font-size: 12px;
  color: white;
  background-color: #000000;
  min-height: 100px;
  min-width: 228px;
  user-select: none;
  padding: 0px;

  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  margin-top: 5px;
}

#time,
#time-with-24hr {
  margin-top: 5px;
  font-size: 34px;
}
#time-with-24hr {
  display: none;
}

#date {
  font-family: Lunasima, sans-serif;
  display: flex;
  font-size: 15px;
  justify-content: center;
  margin-bottom: 5px;
}

#greeting {
  display: flex;
  justify-content: center;
}

.toggle {
  display: flex;
  justify-content: center;
}

.btn-24Hrs,
.btn-12Hrs {
  cursor: pointer;
  border-radius: 22px;
  border: 0;
  padding: 2.8px 8px;
  margin: 5px 4px;
}
